<div *ngIf="type==1" class="ps-3 pe-3 mt-{{margintop}}">
    <div class="d-flex justify-content-between">
        <span>{{name}}</span>
        <span>{{progress}}%</span>
    </div>
    <div class="progress">
        <div class="progress-bar cust-bg-light" role="progressbar" [style.width]="progress+'%'"
            [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div *ngIf="type==0" class="ps-3 pe-3 mt-{{margintop}}">
    <div class="d-flex justify-content-between">
        <span>{{name}}</span>
        <span>{{years}} years</span>
    </div>
    <div class="progress">
        <div class="progress-bar cust-bg-light" role="progressbar" [style.width]="progress+'%'"
            [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>