<div class="w-100 d-flex justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 shadow p-3 mb-5 bg-body rounded">
        <h1 class="text-center">About</h1>
        <div class="container-fluid row justify-content-center p-0 m-0">
            <div class="col-sm-12 col-md-12 col-lg-3 m-1">
                <img src="assets/images/profile-pic.jpg" class="w-100" alt="Profile picture">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 m-1 p-3">
                <h3>Software developer</h3>
                <p>
                    I am software developer who is eager to learn and to develop more skills. I like to keep my
                    knowledge up
                    to
                    date with new technologies and find out better ways to solve a problem. My interests are mainly in
                    web
                    and
                    desktop development. In the past few years, I have been working on several projects where I worked
                    on
                    both
                    front end and back end. This allowed me to get insights into various programming languages and
                    frameworks.
                </p>
                <div class="w-50">
                    <info bootstrapIcoClass="bi-check" name="Age" desc="{{age}}"></info>
                </div>
                <div class="w-50">

                </div>
                <contact name="GitHub" url="https://github.com/simihusak" bootstrapIcoClass="bi-github"></contact>
            </div>
        </div>
    </div>
</div>