<div class="container-fluid d-flex justify-content-center">
    <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 shadow p-3 mb-5 bg-body rounded">
        <h4 class="text-center m-0 mt-2">Links</h4>
        <div class="containter-fluid row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <app-link desc="Personal portfolio" name="GitHub" icoClass="github" url="https://github.com/simihusak/"></app-link>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                <app-link desc="Profile" name="LinkedIn" icoClass="linkedin" url="https://linkedin.com/in/šimon-husák-74a21a1ba"></app-link>
            </div>
        </div>
    </div>
</div>