.cust-bg-light{
    background-color: #416CFA;
}
.cust-bg-dark{
    /*background-color: #20357A;*/
    background-color: #0F193B;
}

.cust-text-light{
    color: #416CFA;
}

.cust-text-dark{
    /*color: #20357A;*/
    color: #0F193B;

}

.cust-bg-gray{
    background-color: #f7f7f7;
}

.certificate-pic{
    width: 100px;
    height: 100px;
}